.main {
  background-color: rgba(255, 186, 8, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.section1_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000;
  width: 100%;
  height: auto;
  position: relative; /* Asegura que los hijos puedan usar z-index */
}

.welcome_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Coloca la imagen detrás */
  position: absolute; /* Posiciona la imagen absolutamente dentro del contenedor */
  top: 0;
  left: 0;
}

.card_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 3%;
  width: 50%;
  height: 65%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 7%;
  background-color: rgba(254, 228, 64, 0.9);
  border-radius: 1em;
  z-index: 1; /* Coloca la tarjeta por encima */
  position: relative; /* Asegura que el z-index funcione */
}

.section2_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  gap: 20px;
  color: #000;
  max-width: 70%;
  margin-bottom: 5%;
  height: auto;
  position: relative; /* Asegura que los hijos puedan usar z-index */
}

.section2_h1 {
  font-size: 3rem;
}

.section2_p {
  font-size: 1.5rem;
}

.section2_dl {
  margin-top: 4rem; /* mt-16 -> 16 * 0.25rem = 4rem */
  display: grid;
  grid-template-columns: 1fr; /* grid-cols-1 -> Una columna */
  gap: 0.125rem; /* gap-0.5 -> 0.5 * 0.25rem = 0.125rem */
  overflow: hidden; /* overflow-hidden */
  border-radius: 1rem; /* rounded-2xl -> 2xl = 1rem */
  text-align: center; /* text-center */
}

.section2_information {
  display: flex; 
  flex-direction: column; 
  background-color: rgba(254, 228, 64, 0.9);
  padding: 2rem;
}

.section3_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}

.section3_h1 {
  font-size: 3rem;
  margin-bottom: 4%;
}

.footer_container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 157, 0, 1);
  width: 100%;
  height: auto;
}

.footer_title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.footer_column {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  gap: 1rem;
}

.footer_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_row strong {
  font-weight: bold;
}

.footer_row span {
  font-size: 0.9rem;
}

@media (max-width: 900px) {
  .card_container {
    width: 70%;
    margin-top: 20%;
  }
  .section1_container {
    justify-content: center;
  }

  .section1_h1 {
    font-size: 1.5rem;
  }

  .section1_h3 {
    font-size: 1rem;
  }

  .section1_p {
    font-size: 0.8rem;
  }

  .section2_h1 {
    font-size: 2rem;
  }
  
  .section2_p {
    font-size: 1rem;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .footer_column {
    align-items: flex-start;
  }
}

@media (min-width: 640px) {
  .section2_dl {
    grid-template-columns: repeat(2, 1fr); /* sm:grid-cols-2 -> Dos columnas */
  }
}

/* Media query para pantallas grandes (lg) */
@media (min-width: 1024px) {
  .section2_dl {
    grid-template-columns: repeat(4, 1fr); /* lg:grid-cols-4 -> Cuatro columnas */
  }
}
